<launch>
  <arg
    name="model" />
  <param 
    name="robot_description" 
    command="$(find xacro)/xacro.py --inorder $(find wheelleg_gazebo)/world/urdf/test.xacro" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find wheelleg_description)/urdf.rviz" />



  <arg name="use_tf_static" default="true"/> 
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
            <param name="use_tf_static" value="$(arg use_tf_static)"/>
  </node>

</launch>
