<launch>

  <include
    file="$(find wheelleg_gazebo)/launch/empty_world.launch" >
    <arg name="verbose" value="true" />
    <arg name="paused" value="true" />
    <arg name="world_name" value="$(find wheelleg_gazebo)/world/empty.world"/>
  </include>

  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />
  
  <param 
    name="robot_description" 
    command="$(find xacro)/xacro $(find wheelleg_description)/urdf/WheelLeg.xacro" />

  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-param robot_description -urdf -model WheelLeg "
    output="screen" />

  <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />

  <rosparam 
    file="$(find wheelleg_gazebo)/config/WheelLeg_control.yaml" 
    command="load"/>

  <node
    name = "chassisGazeboInterface"
    pkg  = "wheelleg_gazebo"
    type = "ChassisGazeboInterface.py"/>

  <node 
    name="controller_spawner" 
    pkg="controller_manager" 
    type="spawner" 
    respawn="false"
    output="screen" 
    ns="/WheelLeg" 
    args="
      RB_velocity_controller
      RF_velocity_controller
      LB_velocity_controller
      LF_velocity_controller
      LM_velocity_controller
      RM_velocity_controller
      RBRA_position_controller 
      RFRA_position_controller 
      LBRA_position_controller 
      LFRA_position_controller
      LMRA_position_controller
      RMRA_position_controller
      RBRB_position_controller 
      RFRB_position_controller 
      LBRB_position_controller 
      LFRB_position_controller
      LMRB_position_controller
      RMRB_position_controller
      joint_state_controller"/>

    <node 
      name="controller_spawner_stopped" 
      pkg="controller_manager" 
      type="spawner" 
      respawn="false" 
      ns="/WheelLeg"
      args="--stopped 
      RB_position_controller
      RF_position_controller
      LB_position_controller
      LF_position_controller
      LM_position_controller
      RM_position_controller"/>


</launch>