<launch>

  <include file="$(find stairs_playground)/launch/playground.launch" />

  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />
  
  <param 
    name="robot_description" 
    command="$(find xacro)/xacro $(find wheelleg_description)/urdf/Hexapod.xacro" />

  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-param robot_description -urdf -model WheelLeg "
    output="screen" />

  <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />

  <rosparam 
    file="$(find wheelleg_gazebo)/config/WheelLegHexapod_control.yaml" 
    command="load"/>

  <node
    name   = "chassisGazeboInterface"
    pkg    = "wheelleg_gazebo"
    type   = "ChassisGazeboInterface.py"
    args   = "-n WheelLegHexapod" />

  <node
    name = "joystick"
    pkg  = "joy"
    type = "joy_node"/>

  <node 
    name="controller_spawner" 
    pkg="controller_manager" 
    type="spawner" 
    respawn="false"
    output="screen" 
    ns="/WheelLegHexapod" 
    args="
      RB_Joint_velocity_controller
      RF_Joint_velocity_controller
      LB_Joint_velocity_controller
      LF_Joint_velocity_controller
      LM_Joint_velocity_controller
      RM_Joint_velocity_controller
      RBRA_Joint_position_controller 
      RFRA_Joint_position_controller 
      LBRA_Joint_position_controller 
      LFRA_Joint_position_controller
      LMRA_Joint_position_controller
      RMRA_Joint_position_controller
      RBRB_Joint_position_controller 
      RFRB_Joint_position_controller 
      LBRB_Joint_position_controller 
      LFRB_Joint_position_controller
      LMRB_Joint_position_controller
      RMRB_Joint_position_controller
      joint_state_controller"/>

    <node 
      name="controller_spawner_stopped" 
      pkg="controller_manager" 
      type="spawner" 
      respawn="false" 
      ns="/WheelLegHexapod"
      args="--stopped 
      RB_Joint_position_controller
      RF_Joint_position_controller
      LB_Joint_position_controller
      LF_Joint_position_controller
      LM_Joint_position_controller
      RM_Joint_position_controller"/>


</launch>