<?xml version="1.0" encoding="utf-8"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="aaa">

  <xacro:include filename="$(find wheelleg_gazebo)/world/urdf/stairs.xacro"/>
<!-- 
  <xacro:group_of_stairs num="20" stair_length="2" stair_width="1" stair_height="0.2"/> -->
  <xacro:single_stair stair_length="1" stair_width="2" stair_height="0.2"/>

</robot>