<launch>
    <node pkg="joy" type="joy_node" name="joy_node" ></node>
    <!-- <node pkg="wheelleg_real" type="motorController" name="motorController" ></node> -->
    <node pkg="servo_control" type="servo_node.py" name="servo_control" ></node>
    <!-- <node pkg="wheelleg_quadraped_control" type="SmachTest.py" name="SmachTest" ></node>
    <node pkg="wheelleg_quadraped_control" type="Experiment.py" name="Experiment" ></node> -->
</launch>