<?xml version="1.0" encoding="utf-8"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="WheelLegQuadraped">

  <!--load model definations-->
  <xacro:include filename="$(find wheelleg_description)/urdf/WheelLeg.xacro"/>

  <!--load gazebo specific configuration-->
  <xacro:include filename="$(find wheelleg_description)/urdf/WheelLeg.gazebo"/>


  <!--load control interface for robot-->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/WheelLegQuadraped</robotNamespace>
    </plugin>
  </gazebo>



   <!--define robot base link-->
  <link name="base_link">
    <inertial>
      <origin xyz="0.05 0.05 0.05" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="0.00167"  ixy="0"  ixz="0" iyy="0.00167" iyz="0" izz="0.00167" />
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.1 0.1 0.1" />
      </geometry>
      <material name="Cyan">
        <color rgba="0 1.0 1.0 1.0"/>
      </material>
    </visual>

    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.1" />
      </geometry>
    </collision> -->

  </link>








  <!--define joints-->
  <xacro:LeftWheelLeg name="LF" x="0.4" y="0.2" z="0.02" parent="base_link" />
  <xacro:LeftWheelLeg name="LB" x="-0.4" y="0.2" z="0.02" parent="base_link"/>

  <xacro:RightWheelLeg name="RF" x="0.4" y="-0.2" z="0.02" parent="base_link"/>
  <xacro:RightWheelLeg name="RB" x="-0.4" y="-0.2" z="0.02" parent="base_link"/>


  <!--add gazebo joint configures-->
  <xacro:wheelLegJointConfig name="LF" />
  <xacro:wheelLegJointConfig name="LB" />

  <xacro:wheelLegJointConfig name="RF" />
  <xacro:wheelLegJointConfig name="RB" />



</robot>